.nav-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}



.logo-container {
    display: flex;
    align-items: center;
}

.lion-logo {
    width: 210px;
    height: 80px;
}

.app-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.nav-links {
    font-size: 16px;
}

.nav-links a,
span {
    cursor: pointer;
    text-decoration: none;
    color: #ec5211;
    margin: 0 10px;
}

.nav-links a,
span:hover {
    text-decoration: underline;
}