* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    font: normal normal 400 12px / 1.34 "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 30px;
}